* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

.centrar {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main {
  margin: 15px;
}

.header__title {
  color: #EEAD33;
  display: flex;
  flex-wrap: wrap;
}

.header__subtitle {
  color: #eee;
}

.header__banner {
  background: url(../../img/banner-central2.jpg);
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -999;
  object-fit: cover;
}
.header__banner::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.header__text {
  width: 90%;
  position: absolute;
  color: #eee;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 1.5em;
}

.header__menu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 90%;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  background: #282828;
  list-style: none;
  transition: all 0.5s ease;
  opacity: 0;
  margin: 10px 15px;
}

.fa-bars {
  color: #EEAD33;
  font-size: 1em;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20%;
}

.header__icon {
  cursor: pointer;
}

.header__menu-item {
  padding: 20px;
}

.header__menu-link {
  color: #fff;
  text-decoration: none;
}

.container__icons {
  display: flex;
  justify-content: center;
}

.mostrar {
  opacity: 1;
}

.header__icon {
  font-size: 1.5em;
}

.welcome {
  margin-top: 400px;
}

.welcome__container {
  text-align: center;
  padding: 20px;
  margin: auto;
  max-width: 750px;
}

.welcome__title {
  position: relative;
  font-size: 2em;
}
.welcome__title::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  background: #EEAD33;
}

.welcome__txt {
  margin: 20px 0px;
  font-size: 1.3em;
}

.welcome__btn {
  text-decoration: none;
  border: 2px solid #EEAD33;
  padding: 10px;
  color: #EEAD33;
  font-size: 1.1em;
  text-align: center;
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  font-weight: bold;
  transition: all 0.5s ease;
}
.welcome__btn:hover {
  background: #EEAD33;
  color: #fff;
}

.gallery__item {
  position: relative;
}
.gallery__item::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

.gallery__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
}
.gallery__title::before {
  content: "";
  width: 200px;
  background: #EEAD33;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}
.gallery__title::after {
  content: "";
  width: 200px;
  background: #EEAD33;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.gallery__img {
  width: 100%;
}

.testimonials {
  margin: 60px auto;
  max-width: 650px;
}

.testimonials__container {
  text-align: center;
  margin: 20px;
}

.testimonials__title {
  font-size: 2em;
  position: relative;
}
.testimonials__title::before {
  content: "";
  position: absolute;
  height: 3px;
  background: #EEAD33;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}

.testimonials__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px 0px;
  object-fit: cover;
}

.testimonials__txt {
  font-size: 1.4em;
}

.testimonials__name {
  font-size: 1.4em;
  color: #EEAD33;
  margin: 20px 0;
}

.tips__container-title {
  position: relative;
}
.tips__container-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.tips__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
  width: 400px;
}
.tips__title::before {
  content: "";
  height: 3px;
  background: #EEAD33;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}
.tips__title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 200px;
  background: #EEAD33;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.tips__img {
  width: 100%;
}

.tips__container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;
  padding: 10px;
}

.tips__icon {
  width: 100px;
  height: 100px;
  color: #EEAD33;
  font-size: 2em;
  border: 2px solid #EEAD33;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.tips__instruction {
  width: 70%;
}

.tips__intruction-title {
  color: #EEAD33;
  margin-bottom: 20px;
}

.tips__intruction-txt {
  width: auto;
  line-height: 25px;
}

.promotions {
  text-align: center;
  margin: 70px 20px;
}

.promotion__title {
  font-size: 2em;
  font-weight: 700;
  position: relative;
}
.promotion__title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 200px;
  background: #EEAD33;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 600px;
  margin: 25px auto;
}

.form__mail {
  background: #ccc;
  width: 65%;
  padding: 10px;
  font-size: 1em;
  border: none;
}

.form__submit {
  border: none;
  background: #EEAD33;
  padding: 15px;
  width: 25%;
  font-size: 0.8em;
  cursor: pointer;
}

.footer {
  background: #282828;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
}

.footer__colum {
  width: 45%;
  padding: 10px;
}

.footer__title {
  color: #fff;
  font-size: 2em;
  padding: 20px 10px;
}

.footer__txt {
  color: #999999;
  line-height: 35px;
  padding: 10px 0px;
}

.footer__author {
  color: #EEAD33;
  display: block;
  text-align: right;
}

.fa-twitter {
  color: #fff;
}

.footer__twitter {
  color: #EEAD33;
}

.social-icon {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.icon-container {
  width: 35px;
  height: 35px;
  background: #3b5998;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
}
.icon-container i {
  color: #fff;
}

.back-twitter {
  background: #3bbef5;
  color: red;
}

.back-dribbble {
  background: #f7659b;
}

.back-pinteres {
  background: #e23139;
}

.fa-facebook-f {
  position: absolute;
  color: #fff;
}

.fa-twitter {
  color: #3bbef5;
}

.fa-dribbble {
  color: #f7659b;
}

.fa-pinterest {
  color: #e23139;
}

.fb__txt {
  color: #999999;
  text-decoration: none;
}

.contact__container {
  color: #fff;
}

.contact__flex {
  display: flex;
  margin-bottom: 35px;
}

.mr-1 {
  margin-right: 10px;
}

.copyright {
  padding: 30px;
  text-align: center;
  color: #fff;
  background: #211e1e;
}
.copyright span {
  color: #EEAD33;
}

@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }

  .header__menu {
    opacity: 1;
    position: static;
    display: flex;
    align-items: center;
    background: none;
    font-size: 1em;
    width: auto;
    padding: 0px;
    margin: 10px 0px;
  }

  .header__banner {
    min-height: 500px;
  }

  .welcome {
    margin-top: 450px;
  }

  .welcome__container {
    min-height: 300px;
  }

  .tips__instruction {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__item {
    width: 50%;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .tips {
    display: flex;
    flex-wrap: wrap;
  }
  .tips .tips__container-title {
    width: 50%;
  }
  .tips .tips__intructions {
    width: 50%;
  }

  .tips__img {
    height: 100%;
    object-fit: cover;
  }

  .footer__colum {
    width: 23%;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background: yellow;
  }

  .gallery__title {
    font-size: 2.5em;
  }
}

/*# sourceMappingURL=style.css.map */
