
.container__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__main {
    margin: 15px;
}

.header__title{
    color: $primary;    
    display: flex;
    flex-wrap: wrap;
}

.header__subtitle {
    color: #eee;
}

.header__banner {
    background: url(../../img/banner-central2.jpg);
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -999; 
    object-fit: cover;
    &::before {
        content: "";
        position: absolute;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }
}

.header__text {
    width: 90%;
    position: absolute;
    color: #eee;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    font-size: 1.5em;

    
}