
.promotions{
    text-align: center;
    margin: 0px 20px;
}

.promotion__title {
    font-size: 2em;
    font-weight: 700;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 200px;
        background: $primary;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }   
}

.form {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 600px;
    margin: 25px auto;
}

.form__mail {
    background: #ccc;
    width: 65%;
    padding: 10px;
    font-size: 1em;
    border: none;
}

.form__submit {
    border: none;
    background: $primary;
    padding: 15px;
    width: 25%;
    font-size: 0.8em;
    cursor: pointer;
}




