.testimonials {
    margin: 60px auto;
    max-width: 650px;    
}
.testimonials__container {
    text-align: center;
    margin: 20px;
}

.testimonials__title {
    font-size: 2em;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        height: 3px;
        background: $primary;
        width: 200px;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }
}

.testimonials__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 30px 0px;

}

.testimonials__txt {
    font-size: 1.4em;
}

.testimonials__name{
    font-size: 1.4em;
    color: $primary;
    margin: 20px 0;
}