.tips__container-title {
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
}

.tips__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $white;
    font-size: 2em;
    width: 400px;
    &::before {
        content: "";
        height: 3px;
        background: $primary;
        width: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }
    &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 200px;
        background: $primary;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
        

    }
}
.tips__img {
    width: 100%;
    
}


.tips__icon {
}

.fa-cog {
    color: $primary;
    font-size: 2em;
    border: 2px solid $primary;
    border-radius: 50%;
    padding: 30px;
}



.tips__intruction-txt {
}
.tips__container-body {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
}
.tips__instruction {
}
.tips__intruction-title {
    color: $primary;
    margin-bottom: 20px;
}
.tips__intruction-txt {
    width: 360px;
    line-height: 25px;
}






